.seccion-container{
    width: 100%;
    margin: 10px; 
}
.seccion-container span{
    font-family: 'Istok Web';
    font-size: 14px;
    line-height: 20px;
    color: #6A536A;
}
.seccion-slider{
    width: 95%;
    height: 170px;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
}

